@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Roboto+Condensed&display=swap');

:root {
  --font-one:'Asap Condensed', sans-serif;
  --font-two: 'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
background:transparent
}

::-webkit-scrollbar-thumb:horizontal {
background: rgba(0,0,0,0.61);
border-radius: 10px;
}


